@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset */
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* VARIABLES */
/* body */
html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Jost", sans-serif;
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 400;
  color: #050e1d;
  background-color: #f2f2f2;
}

/* IMPORTS FROM components */
.searchbar {
  position: fixed;
  inset: 0;
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.searchbar.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.searchbar.active .searchbar__background {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.searchbar__background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  z-index: -1;
  transition: 1s -webkit-backdrop-filter ease-in, 1s backdrop-filter ease-in;
}
.searchbar__back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1001;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar__back svg {
  stroke: #ffffff;
  transition: all 0.3s ease-in-out;
}
.searchbar__back:hover svg {
  stroke: #fff;
}
.searchbar__container {
  width: min(100% - 2rem, 700px);
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchbar__container__input input {
  width: 100%;
  font-family: "Jost", sans-serif;
  padding: 1rem;
  border: none;
  border-radius: 9px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #050e1d;
  background-color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.searchbar__container__input input:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 0 0 4px rgba(0, 0, 0, 0.1);
}
.searchbar__results__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.searchbar__results {
  display: flex;
  background-color: #f2f2f2;
  padding-top: 1rem;
  border-radius: 0 0 9px 9px;
  width: 100%;
  flex-direction: column;
}
.searchbar__results__result {
  width: 100%;
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.searchbar__results__result:hover {
  transform: scale(1);
}
.searchbar__results__result__title {
  color: #050e1d;
  font-weight: 700;
}
.searchbar__results__result__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #050e1d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar__results__result__icon svg {
  fill: #fff;
}
.searchbar__results__result[data-type=Film] {
  background-color: hsl(215, 100%, 86%);
}
.searchbar__results__result[data-type=Livre], .searchbar__results__result[data-type="Bande dessinée"] {
  background-color: hsl(0, 100%, 86%);
}
.searchbar__results__result[data-type=music] {
  background-color: hsl(120, 100%, 86%);
}
.searchbar__results__result:last-child {
  border-radius: 0 0 9px 9px;
}
.searchbar__results__result:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.searchbar__results__result:hover {
  transform: none;
  background-color: #050e1d;
}
.searchbar__results__result:hover .searchbar__results__result__title {
  color: #fff;
}
.searchbar.searching .searchbar__results__container {
  opacity: 1;
  top: 80%;
}

.suggestions {
  max-width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  /* 
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(5, 14, 29, 1) 100%
    );
    left: 0;
  } */
}
.suggestions #_next,
.suggestions #_prev {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: 800;
  aspect-ratio: 1;
  line-height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.suggestions #_next:hover,
.suggestions #_prev:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.suggestions #_next {
  right: 1rem;
}
.suggestions #_prev {
  left: 1rem;
}
.suggestions_container {
  transform: translateX(0px);
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  opacity: 1;
  transition: all 1.5s ease-out;
  will-change: transform;
}
.suggestions_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  aspect-ratio: 16/9;
  max-width: 90vw;
  position: relative;
  padding: 1rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.suggestions_text {
  color: white !important;
  font-size: 1.5rem;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
.suggestions_text h2 {
  color: white !important;
  font-size: 2rem;
  font-weight: 700;
}
.suggestions_text a {
  color: white;
  font-size: 1rem !important;
}
.suggestions_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white !important;
  position: relative;
  overflow: hidden;
}
.suggestions_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.suggestions_img .overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(5, 14, 29) 100%);
}
.suggestions a {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.suggestions a:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05);
}

/* MAIN ASSETS STYLESHEET */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
  font-weight: 700;
  color: #050e1d;
}

.container {
  width: min(100%, 1500px);
  margin-inline: auto;
  padding: 1rem;
  padding-top: 100px;
  min-height: 100vh;
}
.container.no-height {
  min-height: auto;
}

.inline {
  display: inline-block;
}

.font_xs {
  font-size: 0.8rem;
}

.overlay_landing {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle at 200% 50%, transparent, #050e1d);
  z-index: -1;
}

.not-connected_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.not-connected_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.not-connected_content * {
  color: white;
}

a {
  padding: 1rem;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}
a:not(.no-scale):hover {
  transform: scale(1.01);
  color: grey;
}

button,
.btn {
  padding: 0.5rem;
  background-color: #050e1d;
  color: white;
  border: 1px solid #050e1d;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover,
.btn:hover {
  background-color: transparent;
  color: #050e1d;
}
button.no-style,
.btn.no-style {
  background-color: transparent;
  color: #050e1d;
  border: none;
  padding: 0;
}
button.no-style.white,
.btn.no-style.white {
  color: white;
}
button.no-style:hover,
.btn.no-style:hover {
  background-color: transparent;
  color: #050e1d;
  text-decoration: underline;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 100%;
  margin-inline: auto;
  margin-block: 0;
  border-radius: 0;
  background-color: #050e1d;
  padding: 0.5rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
header.scrolled {
  width: min(100% - 2rem, 1500px);
  margin-block: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(5, 14, 29, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}
header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100%, 1500px);
}
header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
header .widgets {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .widgets .burger {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.45rem;
  margin-inline: 1rem;
  cursor: pointer;
}
header .widgets .burger_line {
  width: 2rem;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
header .widgets .burger.active .burger_line:nth-child(1) {
  transform: translateY(0.7rem) rotate(45deg);
}
header .widgets .burger.active .burger_line:nth-child(2) {
  transform: rotate(-45deg);
}
header .widgets .burger.active .burger_line:nth-child(3) {
  opacity: 0;
}
header .logo_img {
  filter: hue-rotate(0deg);
}
header .logo_img img {
  max-width: 100px;
}
header .logo_img #logo_full {
  display: block;
}
header .logo_img #logo_small {
  display: none;
}
header .logo_img:hover {
  animation: logo 1s ease-in-out alternate;
  filter: hue-rotate(360deg);
}
header a,
header button.linkbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-family: "Jost", sans-serif;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}
header a:hover,
header button.linkbutton:hover {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  transform: scale(1.05);
}
header .search-button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  border: 1px solid white;
}
header .search-button svg {
  stroke: #f2f2f2;
  transition: all 0.3s ease-in-out;
}
header .search-button:hover {
  background-color: white;
}
header .search-button:hover svg {
  stroke: #050e1d;
}

.small_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 14, 29, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 999;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.small_menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}
.small_menu .small_menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.small_menu .small_menu_container .small_menu_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.small_menu .small_menu_container a {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.small_menu .small_menu_container a:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05);
}

@keyframes logo {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.catalogue {
  max-height: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
  width: min(100% - 2rem, 1500px);
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(5, 14, 29, 0.8);
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.catalogue * {
  color: white;
}
.catalogue.active {
  max-height: 60vh;
  opacity: 1;
  visibility: visible;
}
.catalogue_container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-block: 3rem;
}
.catalogue_header {
  display: flex;
  align-items: center;
  width: 100%;
}
.catalogue_content {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
  height: 100%;
}
.catalogue_content .content_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 300px;
}
.catalogue_content .content_list a {
  padding: 0.25rem;
  font-size: 0.9rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  header .logo_img img {
    max-width: 45px;
  }
  header .logo_img #logo_full {
    display: none;
  }
  header .logo_img #logo_small {
    display: block;
  }
  header nav a,
  header nav button.linkbutton {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  header nav .nav_link {
    display: none;
  }
  header .widgets .burger {
    display: flex;
  }
  header .widgets .profil_link {
    display: none;
  }
}
.media_container {
  margin: 0 auto;
  position: relative;
  background-color: transparent;
}
.media_container .inner_container {
  margin: 0 auto;
  width: min(100%, 1500px);
}
.media_container .background {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}
.media_container .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.media_container .background .overlay {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(farthest-side at 75% 50%, transparent, #050e1d);
}
.media_container .landing {
  display: flex;
  align-items: flex-end;
  height: 90vh;
  padding: 2rem;
  padding-top: 100px;
  background-color: transparent;
}
.media_container .landing .left {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
}
.media_container .landing .left .cover {
  overflow: hidden;
  border-radius: 10px;
  max-height: 300px;
  aspect-ratio: 2/3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.media_container .landing .left .cover img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.media_container .landing .left .infos {
  padding-left: 1rem;
  max-width: 400px;
  height: 300px;
}
.media_container .landing .left .infos * {
  color: white;
}
.media_container .landing .left .infos h1 {
  font-size: calc(1.25rem + 1vw);
  font-weight: 600;
}
.media_container .landing .left .infos p {
  font-size: calc(0.8rem + 0.5vw);
  font-weight: 400;
}

.cast_container {
  justify-content: center;
  height: 225px;
  overflow: hidden;
}

.actor {
  flex: 1 1 80px;
  max-width: 100px;
  margin: 1rem;
}
.actor a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .media_container .background img {
    -o-object-position: 70% 10%;
       object-position: 70% 10%;
  }
  .media_container .landing .left .infos {
    height: -moz-fit-content;
    height: fit-content;
    max-width: 150px;
  }
  .media_container .landing .left .cover {
    max-height: 250px;
    height: auto;
  }
}
.search-result-container {
  min-height: 100vh;
}

.search-result {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}
.search-result__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #050e1d;
  margin: 1rem;
  border-radius: 9px;
}
.search-result__item a {
  padding: 0;
}
.search-result__item .cover {
  width: 200px;
  height: 300px;
  border-radius: 9px;
}
.search-result__item .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}

.filter_bar {
  width: min(100%, 1500px);
  margin-inline: auto;
  padding: 1rem;
}
.filter_bar__filter__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.filter_bar__filter__content fieldset {
  padding: 0.1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.filter_bar__filter__content fieldset legend {
  padding: 0 0.5rem;
  font-weight: bold;
}
.filter_bar__filter__content fieldset input,
.filter_bar__filter__content fieldset select {
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.filter_bar__filter__content fieldset input:focus,
.filter_bar__filter__content fieldset select:focus {
  outline: none;
  border: 1px solid #000;
}

.gallery {
  padding-top: 0 !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}
.gallery .gallery__item {
  max-width: 200px;
}
.gallery .gallery__item img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.form-title, .form-link {
  color: #050e1d;
  text-align: center;
}

.form-title {
  margin: 1rem;
}

.input-div {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto 0 auto;
  gap: 0.25rem;
}

.input-div label {
  text-indent: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}

.input-div input {
  padding: 0.5rem 1rem;
  border: 1px solid #888;
  border-radius: 9px;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.input-div input:focus {
  outline: none;
  border: 1px solid #050e1d;
}

.form-btn {
  display: block;
  margin: 2rem auto 0.8rem auto;
  color: white;
  padding: 0.5rem 1rem;
  background-color: #050e1d;
  border: 1px solid #050e1d;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.form-btn:hover {
  background-color: white;
  color: #050e1d;
}

.content {
  width: 750px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid #e6e6e6;
  align-items: center;
}

.content > * {
  flex: 1;
}

.user {
  width: 100%;
  max-width: 300px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.infos {
  line-height: 1.75rem;
}

@media (max-width: 780px) {
  .content {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .user {
    margin-bottom: 1rem;
  }
}
footer {
  background-color: #050e1d;
  border-top: 1px solid rgb(14, 41, 58);
  width: 100%;
}
footer .footer-container {
  margin-inline: auto;
  padding: 0.5rem;
}
footer .footer-container .header,
footer .footer-container .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}
footer .footer-container .header h2,
footer .footer-container .main h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}/*# sourceMappingURL=style.css.map */