/* reset */
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* VARIABLES */
$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: rgb(14, 41, 58);
$color-quaternary: rgb(20, 208, 171);
$font-family: "Roboto", sans-serif;

/* body */
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 400;
  color: $color-primary;
  background-color: $color-secondary;
}

/* IMPORTS FROM components */
@import "components/assets";
@import "components/header";
@import "components/footer";
