@import "components/fonts";

/* reset */
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* VARIABLES */
$color-primary: #050e1d;
$color-secondary: #f2f2f2;
$color-tertiary: rgb(14, 41, 58);
$color-quaternary: rgb(20, 208, 171);
$font-family-text: "Jost", sans-serif;
$font-family-title: "Righteous", cursive;

/* body */

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: $font-family-text;
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 400;
  color: $color-primary;
  background-color: $color-secondary;
}

/* IMPORTS FROM components */
@import "components/searchbar";
@import "components/suggestions";
@import "components/assets";
@import "components/header";
@import "components/viewMedia";
@import "components/searchResults";
@import "components/filterBar";
@import "components/gallery";
@import "components/peoples";
@import "components/auth";
@import "components/profile";
@import "components/footer";
