@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset */
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* VARIABLES */
/* body */
html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Jost", sans-serif;
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 400;
  color: #050e1d;
  background-color: #f2f2f2;
}

/* IMPORTS FROM components */
.searchbar {
  position: fixed;
  inset: 0;
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.searchbar.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.searchbar.active .searchbar__background {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.searchbar__background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  z-index: -1;
  transition: 1s -webkit-backdrop-filter ease-in, 1s backdrop-filter ease-in;
}
.searchbar__back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1001;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar__back svg {
  stroke: #000;
  transition: all 0.3s ease-in-out;
}
.searchbar__back:hover {
  background-color: #050e1d;
}
.searchbar__back:hover svg {
  stroke: #fff;
}
.searchbar__container {
  width: min(100% - 2rem, 700px);
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchbar__container__input input {
  width: 100%;
  font-family: "Jost", sans-serif;
  padding: 1rem;
  border: none;
  border-radius: 9px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #050e1d;
  background-color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.searchbar__container__input input:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 0 0 4px rgba(0, 0, 0, 0.1);
}
.searchbar__container .search__link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #050e1d;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.searchbar__container .search__link:hover {
  transform: none;
  color: white;
}
.searchbar__results__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.searchbar__results {
  display: flex;
  background-color: #f2f2f2;
  padding-top: 1rem;
  border-radius: 0 0 9px 9px;
  flex-direction: column;
}
.searchbar__results__result {
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.searchbar__results__result__title {
  color: #050e1d;
  font-weight: 700;
}
.searchbar__results__result__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #050e1d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar__results__result__icon svg {
  fill: #fff;
}
.searchbar__results__result[data-type=Film] {
  background-color: hsl(215, 100%, 86%);
}
.searchbar__results__result[data-type=Livre], .searchbar__results__result[data-type="Bande dessinée"] {
  background-color: hsl(0, 100%, 86%);
}
.searchbar__results__result[data-type=music] {
  background-color: hsl(120, 100%, 86%);
}
.searchbar__results__result:last-child {
  border-radius: 0 0 9px 9px;
}
.searchbar__results__result:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.searchbar__results__result:hover {
  transform: none;
  background-color: #050e1d;
}
.searchbar__results__result:hover .searchbar__results__result__title {
  color: #fff;
}
.searchbar.searching .searchbar__results__container {
  opacity: 1;
  top: 80%;
}

/* MAIN ASSETS STYLESHEET */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
  font-weight: 700;
  color: #050e1d;
}

.container {
  width: min(100%, 1500px);
  margin-inline: auto;
  padding: 1rem;
  padding-top: 100px;
}

a {
  padding: 1rem;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
a:hover {
  transform: scale(1.05);
  color: grey;
}

button,
.btn {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #050e1d;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover,
.btn:hover {
  background-color: #050e1d;
  border: 1px solid white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #050e1d;
  padding: 0.5rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_container {
  display: flex;
  justify-content: space-between;
  width: min(100%, 1500px);
}
header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
header .widgets {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo_img {
  filter: hue-rotate(0deg);
}
header .logo_img img {
  max-width: 100px;
}
header .logo_img:hover {
  animation: logo 1s ease-in-out alternate;
  filter: hue-rotate(360deg);
}
header a,
header button.linkbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-family: "Jost", sans-serif;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}
header a:hover,
header button.linkbutton:hover {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  transform: scale(1.05);
}
header .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search-button svg {
  stroke: #050e1d;
  transition: all 0.3s ease-in-out;
}
header .search-button:hover svg {
  stroke: #f2f2f2;
}

@keyframes logo {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.catalogue {
  max-height: 60vh;
  position: fixed;
  top: -50vh;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #050e1d;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.catalogue * {
  color: white;
}
.catalogue.active {
  top: 80px;
}
.catalogue_container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-block: 3rem;
}
.catalogue_header {
  display: flex;
  align-items: center;
  width: 100%;
}
.catalogue_content {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
  height: 100%;
}
.catalogue_content .content_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 300px;
}
.catalogue_content .content_list a {
  padding: 0.25rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.media_container {
  margin: 0 auto;
  position: relative;
  background-color: transparent;
}
.media_container .inner_container {
  margin: 0 auto;
}
.media_container .background {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}
.media_container .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.media_container .background .overlay {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(farthest-side at 75% 50%, transparent, #050e1d);
}
.media_container .landing {
  display: flex;
  align-items: flex-end;
  height: 90vh;
  padding: 3rem;
  padding-top: 100px;
  background-color: transparent;
}
.media_container .landing .left {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.media_container .landing .left .cover {
  overflow: hidden;
  border-radius: 10px;
  height: 300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.media_container .landing .left .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.media_container .landing .left .infos {
  padding: 1rem;
  max-width: 400px;
  height: 300px;
}
.media_container .landing .left .infos * {
  color: white;
}
.media_container .landing .left .infos h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.media_container .landing .left .infos p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.search-result {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}
.search-result__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #050e1d;
  margin: 1rem;
  border-radius: 9px;
}
.search-result__item a {
  padding: 0;
}
.search-result__item .cover {
  width: 200px;
  height: 300px;
  border-radius: 9px;
}
.search-result__item .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}

.gallery {
  padding-top: 0 !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.gallery .gallery__item {
  flex-basis: 15%;
}
.gallery .gallery__item img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.form-title, .form-link {
  color: #050e1d;
  text-align: center;
}

.form-title {
  margin: 1rem;
}

.input-div {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto 0 auto;
  gap: 0.25rem;
}

.input-div label {
  text-indent: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}

.input-div input {
  padding: 0.5rem 1rem;
  border: 1px solid #888;
  border-radius: 9px;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.input-div input:focus {
  outline: none;
  border: 1px solid #050e1d;
}

.form-btn {
  display: block;
  margin: 2rem auto 0.8rem auto;
  color: white;
  padding: 0.5rem 1rem;
  background-color: #050e1d;
  border: 1px solid #050e1d;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.form-btn:hover {
  background-color: white;
  color: #050e1d;
}/*# sourceMappingURL=style.css.map */