/* MAIN ASSETS STYLESHEET */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
  font-weight: 700;
  color: $color-primary;
}

.container {
  width: min(100% - 2rem, 1500px);
  margin-inline: auto;
  padding-top: 100px;
  min-height: 100vh;

  &.no-height {
    min-height: auto;
  }
}

.inline {
  display: inline-block;
}

.font {
  &_xs {
    font-size: 0.8rem;
  }
}

.overlay_landing {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    circle at 200% 50%,
    transparent,
    $color-primary
  );
  z-index: -1;
}

.not-connected {
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    & * {
      color: white;
    }
  }
}

a {
  padding: 1rem;
  display: block;
  color: $color-secondary;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;

  transition: all 0.3s ease-in-out;

  &:not(.no-scale) {
    &:hover {
      transform: scale(1.01);
      color: grey;
    }
  }

  &.no-style {
    padding: 0;
    color: $color-primary;
    &:hover {
      color: grey;
    }
  }
}

button,
.btn {
  padding: 0.5rem;
  background-color: $color-primary;
  color: white;
  border: 1px solid $color-primary;
  border-radius: 9px;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: transparent;
    color: $color-primary;
  }

  &.no-style {
    background-color: transparent;
    color: $color-primary;
    border: none;
    padding: 0;

    &.white {
      color: white;
    }

    &:hover {
      background-color: transparent;
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.tableContainer {
  overflow-x: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

  th,
  td {
    text-align: left;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(221, 221, 221, 0.331);
  }

  tr:nth-child(even) {
    background-color: #d7d7d7;
  }

  tr {
    background-color: #c3c3c3;
  }

  tr:hover {
    background-color: rgb(134, 134, 134);
    cursor: pointer;
  }

  th {
    text-align: center;
    background-color: #0e1624;
    color: white;
  }
}
