footer {
  background-color: $color-primary;
  border-top: 1px solid $color-tertiary;
  width: 100%;
  .footer-container {
    margin-inline: auto;
    padding: 0.5rem;
    .header,
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      color: white;
      font-size: 0.8rem;
      font-weight: 600;

      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
      }
    }
  }
}
