.gallery {
  padding-top: 0 !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  place-items: center;

  .gallery__item {
    max-width: 200px;
    img {
      border-radius: 10px;
      width: 100%;
      height: auto;
      aspect-ratio: 2/3;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  }
}
