.gallery {
  padding-top: 0 !important;
  display: flex;
  flex-wrap: wrap;
  //align-items: center;
  .gallery__item {
    flex: 1 1 150px;
    max-width: 200px;
    img {
      border-radius: 10px;
      width: 100%;
      height: auto;
      aspect-ratio: 2/3;
      object-fit: cover;
    }
  }
}
