header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: $color-primary;
  padding: 0.5rem;

  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  .header_container {
    display: flex;
    justify-content: space-between;
    width: min(100%, 1500px);
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  .widgets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_img {
    img {
      max-width: 100px;
    }

    filter: hue-rotate(0deg);

    &:hover {
      animation: logo 1s ease-in-out alternate;
      filter: hue-rotate(360deg);
    }
  }
  a,
  button.linkbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-family: $font-family-text;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 700;

    &:hover {
      color: white;
      text-decoration: none;
      background-color: transparent;
      border: none;
      transform: scale(1.05);
    }
  }

  .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      stroke: $color-primary;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      svg {
        stroke: $color-secondary;
      }
    }
  }
}

@keyframes logo {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.catalogue {
  max-height: 60vh;
  position: fixed;
  top: -50vh;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: $color-primary;
  z-index: 999;
  transition: all 0.3s ease-in-out;

  * {
    color: white;
  }

  &.active {
    top: 80px;
  }

  &_container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-block: 3rem;
  }

  &_header {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &_content {
    display: flex;
    flex-direction: column;
    flex: 0 1 33%;
    height: 100%;
    .content_list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      max-height: 300px;

      a {
        padding: 0.25rem;
        font-size: 0.9rem;
        font-weight: 400;
      }
    }
  }
}
