$movieColor: hsl(215, 100%, 86%);
$bookColor: hsl(0, 100%, 86%);
$musicColor: hsl(120, 100%, 86%);

.searchbar {
  position: fixed;
  inset: 0;
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  //visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    .searchbar__background {
      backdrop-filter: blur(5px);
    }
  }

  &__background {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0px);

    z-index: -1;

    transition: 1s -webkit-backdrop-filter ease-in, 1s backdrop-filter ease-in;
  }

  &__back {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1001;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      stroke: #000;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-color: $color-primary;
      svg {
        stroke: #fff;
      }
    }
  }

  &__container {
    width: min(100% - 2rem, 700px);

    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__input {
      input {
        width: 100%;
        font-family: $font-family-text;
        padding: 1rem;
        border: none;
        border-radius: 9px;
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-primary;
        background-color: white;
        outline: none;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.3);
        &:focus {
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
            0 0 10px 0 rgba(0, 0, 0, 0.3), 0 0 0 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  &__results__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    padding-top: 1rem;

    background-color: $color-secondary;

    border-radius: 0 0 9px 9px;

    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &__results {
    display: flex;
    flex-direction: column;

    &__result {
      padding: 1rem;
      display: inline-flex;
      align-items: center;
      gap: 1rem;

      &__title {
        color: $color-primary;
        font-weight: 700;
      }

      &__icon {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: #fff;
        }
      }

      &[data-type="Film"] {
        background-color: $movieColor;
      }

      &[data-type="Livre"],
      &[data-type="Bande dessinée"] {
        background-color: $bookColor;
      }

      &[data-type="music"] {
        background-color: $musicColor;
      }

      &:last-child {
        border-radius: 0 0 9px 9px;
      }

      &:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      &:hover {
        transform: none;
        background-color: $color-primary;

        .searchbar__results__result__title {
          color: #fff;
        }
      }
    }
  }

  &.searching {
    .searchbar__results__container {
      opacity: 1;
      top: 80%;
    }
  }
}
